@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Paciente p in ViewBag.pacientes)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Nome</td>
                </tr>
            }
    </tbody>
</table>