@page
@model SalaDeAula.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Seu número aleatório é: @Model.numero</h1>
</div>

<div class="text-center">
    @if (Model.numero > 70)
    {
        <h3>Parabéns, você está com sorte!!</h3>
    }
</div>


