@page
@model SalaDeAula.Pages.Alunos.Index1Model
@{
}

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3">
        <label for="nascimento" class="form-label">Nascimento</label>
        <input type="date" class="form-control" id="nascimento">
    </div>
    <a class="btn btn-primary" href="/Alunos/sucesso" role="button">Adicionar</a>
    <a class="btn btn-primary" href="/Alunos/Index" role="button">Voltar</a>
</form>